<div>
  <div>
    <h2>User's information</h2>
    name: <%= @user.name %>
    <br/>
    <%= image_tag @user.avatar_url %>
    <br/>
    address: <%= @user.address %>
    <br/>
    latitude: <%= @user.latitude %>
    <br>
    longitude: <%= @user.longitude  %>
  </div>
</div>

<% unless @requests.blank? %>
<div class="container">
  <table class="table">
    <thead>
      <tr>
       <th>product</th>
       <th>requester</th>
       <th>amount</th>
       <th>status</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= request.try(:product).try(:name) %></td>
          <td><%= request.try(:requester).try(:name) %></td>
          <td><%= request.amount %></td>
          <td><%= request.status %></td>
          <td>
            <%= link_to "destroy", destroy_request_path(id: request.id, requester_id:@user.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>

<%= simple_form_for RequesterProductRelation.new, as: :request, url: create_request_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :requester_id , value: @user.id %>
  <%= f.input :product_id, collection: Product.all %>
  <%= f.input :amount %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
