<h3> List of Suppliers </h3>
<ul class="list-unstyled">
  <%- product.donor_product_relations.each do |donation| %>
  <li class="name">
    
     <h3><img style='width: 60px; padding-right: 10px;' src=<%=donation.donor.try(:image_url)%>>
     	<%= donation.donor.name %> </h3>
     <%= donation.donor.address%> 
     <%= donation.amount%>

 <span class="uppercase pull-right"><%= donation.status%> <%= time_ago_in_words donation.created_at%> ago 
 	</span>
 </li>
  <% end %> 
</ul>
