<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Relief Insight", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav user-bar pull-right">
        <%- if current_user -%>
          <li><%= link_to "DASHBOARD", user_path(current_user.id) %></li>
          <li><%= link_to "ACCOUNT SETTINGS", edit_user_registration_path %></li>
          <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li>
            <%= link_to "REGISTER", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "LOGIN", new_user_session_path %>
          </li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>
