<h3> List of Receivers</h3>


<ul class="list-unstyled">
  <%- product.requester_product_relations.each do |request| %>
    <img style='width: 60px;' src=<%=request.requester.try(:image_url)%>/>
    <li> <%= request.requester.name %> </li>
    <li> <%= request.requester.address%> </li>
    <li> <%= request.amount%> </li>
    <li> <%= request.status%> </li>
    <li> <%= time_ago_in_words request.created_at%> </li>
  <% end %> 
</ul>
