<div class="jumbotron">
  <div id="map"></div>
</div>

<div class="container">
  <div class="row" id="category">
    <div class="col-md-3" id="food"><%= link_to "FOOD", Product.food %></div>
    <div class="col-md-3" id="water"><%= link_to "WATER", Product.water %></div>
    <div class="col-md-3" id="first_aid"><%= link_to "FIRST AID", Product.firstaid %></div>
    <div class="col-md-3" id="clothes"><%= link_to "CLOTHES", Product.clothes %></div>
  </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["map"]});
  google.setOnLoadCallback(drawMap);
  function drawMap() {
    var data = google.visualization.arrayToDataTable([
      ['Lat', 'Lon', 'Name'],
      <%= raw @hash %>
    ]);
 
    var map = new google.visualization.Map(document.getElementById('map'));
    map.draw(data, {showTip: true});
  }
</script>
