%p#notice
  = notice
#donors
  = render 'shared/donors', product: @product

#requester
  = render 'shared/requester', product: @product

%p
  %strong
    Name:
  = @product.name

%p
  %strong Amount:
  = @product.amount

= link_to 'Edit', edit_product_path(@product)
|
= link_to 'Back', products_path

