  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1><img src="<%= @product.image_url%>" title="  <%= @product.name %> " width="200">   <%= @product.name %> </h1>
      </div>
      <div class="col-lg-8">
        <div class="progress progress-striped active">
          <%- percent = @product.percent%>
          <div class="progress-bar " role="progressbar" aria-valuenow=<%=percent%> aria-valuemin="0" aria-valuemax="100" style='<%="width: #{percent}%"%>'>
            <span class="sr-only"><%=percent%>% Complete</span>
          </div>
        </div>
        <h2>Status: <%=percent%>% needs met </h2>
      </div>
    </div><!--row-->
  </div><!--container-->

  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <div id='donors'>
            <%= render 'shared/donors', product: @product %>
          </div>
        </div>
        <div class="col-lg-6">
          <div id='requester'>
            <%= render 'shared/requester', product: @product %>
          </div>
       </div>
    </div><!--row-->
  </div><!--container-->
