<!DOCTYPE html>
<html>
  <head>
    <title>Donation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id='wrap'>
      <header id="header">
        <%= render "shared/menu" %>
      </header>

      <div id='main'>
        <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
        <%= yield %>
      </div>
    </div>

    <footer id='footer'>
      <div class="container">
        <p class="text-muted">&copy; 2014 Built for Angelhack NYC.</p>
      </div>
    </footer>
  </body>
</html>
