<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      <%= f.input :name, :autofocus => true, :placeholder => "Name", label: false, input_html: {class: "form-control", id: "inputName"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <%= f.input :email, :autofocus => true, :placeholder => "Email", label: false, input_html: {class: "form-control", id: "inputEmail"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <%= f.input :password, :placeholder => "Password", label: false, input_html: {class: "form-control", id: "inputPassword"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPasswordConfirmation" class="col-sm-2 control-label">Password Confirmation</label>
    <div class="col-sm-6">
      <%= f.input :password_confirmation, :placeholder => "Password Confirmation", label: false, input_html: {class: "form-control", id: "inputPasswordConfirmation"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6">
      <%= f.input :address, :autofocus => true, :placeholder => "Address", label: false, input_html: {class: "form-control", id: "inputAddress"} %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputType" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-6">
      <%= f.input :type, :autofocus => true, :placeholder => "Type", label: false, input_html: {class: "form-control", id: "inputType"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Sign up", :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
<%#= render "users/shared/links" %>
